main section.categories {
  height: 100%;
}

main section.categories .category-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 15px;
}
.category-container .income-category,
.category-container .expense-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category-container .expense-category {
  margin-bottom: 20px;
  margin-top: 10px;
}
.category-container .income-category ul,
.category-container .expense-category ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.category-container .income-category ul li,
.category-container .expense-category ul li {
  display: flex;
  width: 100%;
}
.category-container .income-category ul li,
.category-container .expense-category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.category-container .income-category ul li .left-portion,
.category-container .expense-category ul li .left-portion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.category-container .income-category ul li .left-portion img,
.category-container .expense-category ul li .left-portion img {
  border-radius: 10px;
  width: 40px;
  padding: 3px;
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.category-container .income-category ul li .right-portion,
.category-container .expense-category ul li .right-portion {
  padding-right: 10px;
}

.category-box-body{
  color: black;
  animation: none;
  -webkit-animation: none;

}

.category-box-body .input-container .category{

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.category-box-body .input-container .category .switch{
  width: 70px;
  height: 35px;
  background:linear-gradient(to left,rgb(255, 162, 0),rgb(128, 0, 255));
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
}

.category-box-body .input-container .category .switch::before{
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.category-box-body .input-container .category .switch.active::before{
  left: 38px;
}