main section.categories {
  height: 100%;
}

main section.categories .category-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 15px;
}
.category-container .income-category,
.category-container .expense-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category-container .expense-category {
  margin-bottom: 20px;
  margin-top: 10px;
}
.category-container .income-category ul,
.category-container .expense-category ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.category-container .income-category ul li,
.category-container .expense-category ul li {
  display: flex;
  width: 100%;
}
.category-container .income-category ul li,
.category-container .expense-category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.category-container .income-category ul li .left-portion,
.category-container .expense-category ul li .left-portion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.category-container .income-category ul li .left-portion img,
.category-container .expense-category ul li .left-portion img {
  border-radius: 10px;
  width: 40px;
  padding: 3px;
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.food {
  background-color: rgb(255, 4, 105);
}
.health {
  background-color: rgb(1, 150, 36);
}
.mobile {
  background-color: rgb(254, 140, 0);
}
.elctronics {
  background-color: rgb(100, 100, 100);
}
.education {
  background-color: rgb(138, 37, 172);
}
.car {
  background-color: rgb(255, 0, 0);
}
.insurance {
  background-color: rgb(120, 46, 0);
}
.entertain {
  background-color: rgb(3, 17, 209);
}
.shopping {
  background-color: rgb(0, 145, 255);
}
.cloth {
  background-color: rgb(10, 10, 10);
}
.change-font-style {
  font-size: 16px;
}
.computer {
  background-color: rgb(65, 113, 97);
}
.cupon {
  background-color: #ff4e88;
}
.grant {
  background-color: #914f1e;
}
.awards {
  background-color: #009fbd;
}
.refund {
  background-color: #667bc6;
}
.salary {
  background-color: #850f8d;
}
.sale {
  background-color: #f86e6e;
}
.rent {
  background-color: #0004ff;
}
.lottery {
  background-color: #41b06e;
}
.category-container .income-category ul li .right-portion,
.category-container .expense-category ul li .right-portion {
  padding-right: 10px;
}
