:root {
  --blur: rgb(160, 160, 160);
  --darkblur: rgb(0, 0, 0);
  --dark: #080202;
  --lightDark: rgb(53, 53, 53);
}

.app.dark,
.app.dark .sidebar {
  background-color: var(--dark);
  color: #ffffff;
}

.app.dark img.svg {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.app.dark main section.home .home-container .input-containers,
.app.dark main section.account .box-body,
.app.dark main section.categories .category-box-body,
.app.dark main section.categories .edit-category-box-body,
.app.dark main section.budgets .budget-input-container,
.app.dark main section.budgets .budget-edit-container,
.app.dark main section.account .edit-box-body {
  background-color: var(--dark);
  color: #ffffff;
}
.app.dark main section.account .box-body .input-container .input-body input,
.app.dark
  main
  section.categories
  .category-box-body
  .input-container
  .input-body
  input,
.app.dark
  main
  section.categories
  .edit-category-box-body
  .input-container
  .input-body
  input,
.app.dark
  main
  section.budgets
  .budget-input-container
  .form-container
  .input-body
  input,
.app.dark
  main
  section.budgets
  .budget-edit-container
  .form-container
  .input-body
  input,
.app.dark
  main
  section.account
  .edit-box-body
  .input-container
  .input-body
  input {
  background-color: var(--dark);
  color: #ffffff;
}
.app.dark main section.account .account-container ul li .operations .options,
.app.dark
  main
  section.categories
  .category-container
  .income-category
  ul
  li
  .right-portion
  .options,
.app.dark .category-options,
.app.dark
  main
  section.categories
  .category-container
  .expense-category
  ul
  li
  .right-portion
  .options {
  background-color: var(--lightDark);
  color: #ffffff;
}
.app.dark
  main
  section.account
  .account-container
  ul
  li
  .operations
  .options
  p:hover,
.app.dark
  main
  section.categories
  .category-container
  .income-category
  ul
  li
  .right-portion
  .options
  p:hover,.app.dark .category-options p:hover,
.app.dark
  main
  section.categories
  .category-container
  .expense-category
  ul
  li
  .right-portion
  .options
  p:hover {
  background-color: rgb(80, 80, 80) !important;
}



@media  screen and (min-width:1024px) {
  .sidebar .settings ul li:hover {
    background-color: rgb(53, 53, 53);
  }
  
}
/* .app.dark main section.account.blurbg, */
.app.dark main section.categories.blur,
.app.dark main section.categories.blurbg
/* .app.dark main section.budgets .budget-container.blur, */ {
  background-color: rgb(38, 37, 37);
  color: #050505;
  transition: background-color color 1s ease;
  -webkit-transition: background-color color 1s ease;
  -moz-transition: background-color color 1s ease;
  -ms-transition: background-color color 1s ease;
  -o-transition: background-color color 1s ease;
}
.app.dark footer {
  background-color: var(--dark);
}
/* .app.dark main section.categories.blur img.icon,
.app.dark main section.account.blurbg img.icon,
.app.dark main section.account.blurbg img.svg,
.app.dark main section.account.blur img.svg,
.app.dark main section.account.blur img.icon,
.app.dark main section.categories.blurbg img.icon,
.app.dark main section.budgets .budget-container.blur img.svg,
.app.dark main section.budgets .budget-container.blur img,
.app.dark main section.budgets .budget-container.blur button,
.app.dark main section.categories.blurbg img.svg,
.app.dark main section.categories.blur img.svg {
  filter: brightness(0.3);
  -webkit-filter: brightness(0.2);
} */
/* .app main section.categories.blur img.icon,
.app main section.account.blurbg img.icon,
.app main section.account.blurbg img.svg,
.app main section.account.blur img.svg,
.app main section.account.blur img.icon,
.app main section.categories.blurbg img.icon,
.app main section.categories.blurbg img.svg,
.app main section.categories.blur img.svg {
  transition: all 0.5s ease;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
} */
.app.dark main section.account.blur .card,
.app.dark main section.account.blur .penny-info,
.app.dark main section.account.blurbg .penny-info,
.app.dark
  main
  section.budgets
  .budget-container.blur
  .set-budgeted-list
  li
  .bar-container,
.app.dark main section.account.blurbg .card {
  transition: all 0s ease;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  border: none;
}
.app.dark main section.budgets .budget-input-container::after,
.app.dark main section.budgets .budget-edit-container::after {
  background-color: rgb(0, 0, 0);
  border: none;
}
/* .app.dark main section.budgets .budget-container.blur .green {
  opacity: 0.2;
}
.app.dark main section.budgets .budget-container.blur .red {
  opacity: 0.1;
}
.app.dark
  main
  section.budgets
  .budget-container.blur
  .set-budgeted-list
  li
  .bar-container
  .label-content {
  opacity: 0.1;
} */
.app.dark main section.budgets .right-portion .budget-operations {
  background-color: var(--lightDark);
  color: #ffffff;
}
.app.dark main section.budgets .right-portion .budget-operations p:hover {
  background-color: rgb(80, 80, 80) !important;
}

.app.dark .sidebar .settings ul li .arrow-right{
  opacity: 0.4;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.app.dark .pp-users-container #user-count-body{
  background-color: #2d2a2a;
  color: #ffffff;
}
.app.dark .pp-users-container{
  background-color: #191919b9;
 
}