.home-container,
.analysis-container {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 140px;
}
.home-container header,
.analysis-container header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home-container header .left-arrow,
.analysis-container header .left-arrow,
.analysis-container header .right-arrow,
.head-content .month-info .left-arrow,
.home-container header .right-arrow,
.head-content .month-info .right-arrow {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-left: 3px solid;
  border-top: 3px solid;
  transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
}
.home-container header .balance-info .expense-box,
.analysis-container header .balance-info .expense-box,
.home-container header .balance-info .income-box,
.analysis-container header .balance-info .income-box,
.analysis-container header .balance-info .total-box,
.home-container header .balance-info .total-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.home-container header .right-arrow,
.analysis-container header .right-arrow,
.head-content .month-info .right-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.analysis-container header .month-body,
.home-container header .month-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.balance-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.semi-bold {
  font-weight: 600;
  font-size: 17px;
}
.home-container .main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
  padding: 15px;
}
.home-container .main-content .sub-content {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.added-day-info {
  margin-bottom: 15px;
}
.transaction-history {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.transaction-history li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.transaction-history li .transaction-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.transaction-history li .transaction-info img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.transaction-history li .transaction-info .cat-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.transaction-history
  li
  .transaction-info
  .cat-account
  .transaction-account-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.transaction-history
  li
  .transaction-info
  .cat-account
  .transaction-account-info
  img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.little-bold {
  font-weight: 500;
  font-size: 17px;
}
.transaction-amount {
  padding-right: 10px;
}
.amount.green,
.amount.income {
  font-size: 18px;
  font-weight: 600;
  color: green;
}
.incomeBg{
 background-color: green;
}
.amount.red,
.amount.expense {
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.expenseBg {
  background-color: red;
}

/* analysis page style */
.analysis-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.analysis-container .chart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 0px 10px;
}
.current-chart {
  position: relative;
}

.category-options {
  position: absolute;
  background-color: #ececec;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  bottom: -86px;
  left: 0px;
  animation: openup 0.3s ease;
  -webkit-animation: openup 0.3s ease;
}
.category-options.active {
  display: flex;
}
@keyframes openup {
  from {
    opacity: 0;

    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
  }
}

.category-options p {
  padding: 8px 20px 8px 25px;
  width: 100%;
}
.category-options p:hover {
  background-color: rgb(221, 221, 221);
}
.arrow-down {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  margin-bottom: 8px;
}
.current-chart .opt-body {
  display: flex;
  width: 230px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 8px 20px;
  gap: 10px;
}
.text-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.text-view .data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}
.text-view .data-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.text-view .data-container li .img-container img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.text-view .data-container li .text-amount-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}
.text-view .data-container li .text-amount-bar .category-name-analysis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.text-view .data-container li .text-amount-bar .analysis-bar-container {
  display: flex;
  width: 100%;
  height: 10px;
  border: 1px solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.text-view
  .data-container
  li
  .text-amount-bar
  .analysis-bar-container
  .analysis-bar {
  width: 70%;
  background-color: rgb(0, 116, 93);
}
.detail-view-container{
  display: flex;
  width: 320px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  animation: openViews 0.3s ease;
  -webkit-animation: openViews 0.3s ease;
}
@keyframes openViews {
  from {
   opacity: 0;
   transform: translateY(30px);
   -webkit-transform: translateY(30px);
   -moz-transform: translateY(30px);
   -ms-transform: translateY(30px);
   -o-transform: translateY(30px);
}
}

.detail-view-container .card-top {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px 0px 10px;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}
.detail-view-container .card-top.incomeBg{
  background-color: green;
}
.detail-view-container .card-top.expenseBg{
  background-color: red;
}
.detail-view-container .card-top .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.detail-view-container .card-top .center-content + .date-time-details {
  text-align: right;
  width: 100%;
  padding: 10px;
  padding-right: 10px;
}
.detail-view-container .card-top .card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
 
}
.detail-view-container .card-top .card-header .card-operations{
  display: flex;
  gap: 25px;
  filter: invert(1);
  -webkit-filter: invert(1);
}
.app.dark .detail-view-container .card-top .card-header .card-operations{
  filter: invert(0);
  -webkit-filter: invert(0);
}

.detail-view-container .card-top .center-content .category-name-detail {
  font-size: 18px;
  font-weight: 500;
}
.detail-view-container .card-top .center-content .respective-amount {
  font-size: 35px;
  font-weight: 500;
}
.detail-view-container .card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
}
.detail-view-container .card-bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 5px 5px;
}
.detail-view-container .card-bottom ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  gap: 10px;
}
.detail-view-container .card-bottom ul li .accname,
.detail-view-container .card-bottom ul li .catename
{
  width: 80px;
}
.detail-view-container .card-bottom ul li img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.detail-view-container .card-bottom ul li .detail-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  flex-grow: 1;
  border: 1px solid;
  padding: 5px 0px;
  gap: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.detail-view-container .card-bottom .notes {
  margin-bottom: 10px;
  width: 100%;
  padding: 0px 10px;
  text-align: justify;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.parent-detail-view{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  
  width: 100%;
  height: 100%;
  z-index: 2;
  display:none;
  justify-content: center;
  align-items: center;
}
.parent-detail-view.active{
  display: flex;
  transition: background-color .3s linear ;
  -webkit-transition: background-color .3s linear ;
  -moz-transition: background-color .3s linear ;
  -ms-transition: background-color .3s linear ;
  -o-transition: background-color .3s linear ;
}
.add-item{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: rgb(231, 231, 231);
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.add-item .plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.add-item .plus::before,.add-item .plus::after{
  width: 50%;
  background-color: rgb(0, 0, 0);
  height: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  content: '';
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.add-item .plus::after{
 left: 25%;
 transform: rotate(90deg) translateX(-1px);
 -webkit-transform: rotate(90deg) translateX(-1px);
 -moz-transform: rotate(90deg) translateX(-1px);
 -ms-transform: rotate(90deg) translateX(-1px);
 -o-transform: rotate(90deg) translateX(-1px);
}